extends layout

block content
  h1 Welcome to Study Buddy
  hr
  p.lead  My Classes 
  .container-fluid
    .row
      .col-xs-10
        | ORF 307: Optimization
        #demo.collapse
          button.btn.btn-default(type='button', data-toggle='collapse', data-target='#available') Show Available People
          #available.collapse
            | List of available people in table form
      .col-xs-1
        .btn-group(data-toggle='button')
          span(data-toggle='tooltip', title='Go Online for this Class')
            button.btn.btn-default(type='button', aria-label='Left Align', data-toggle='collapse', data-target='#demo')
              span.glyphicon.glyphicon-book(aria-hidden='true', data-toggle='tooltip', title='Go Online for this Class')
      .col-xs-1
        .btn-group(data-toggle='button')
          span(href='#', data-toggle='tooltip', title='Turn on Notifications for this class')
            button.btn.btn-default(type='button', aria-label='Left Align')
              span.glyphicon.glyphicon-bell(aria-hidden='true')
    hr
    .row
      .col-xs-10
        | ORF 401: E-Commerce
        #demo2.collapse
          button.btn.btn-default(type='button', data-toggle='collapse', data-target='#available2') Show Available People
          #available2.collapse
            | List of available people in table form
      .col-xs-1
        .btn-group(data-toggle='button')
          button.btn.btn-default(type='button', aria-label='Left Align', data-toggle='collapse', data-target='#demo2')
            span.glyphicon.glyphicon-book(aria-hidden='true')
      .col-xs-1
        .btn-group(data-toggle='button')
          button.btn.btn-default(type='button', aria-label='Left Align')
            span.glyphicon.glyphicon-bell(aria-hidden='true')
    hr
    .row
      .col-xs-10
        | ECO 310: Microeconomics: A Mathematical Approach
        #demo3.collapse
          button.btn.btn-default(type='button', data-toggle='collapse', data-target='#available3') Show Available People
          #available3.collapse
            | List of available people in table form
      .col-xs-1
        .btn-group(data-toggle='button')
          button.btn.btn-default(type='button', aria-label='Left Align', data-toggle='collapse', data-target='#demo3')
            span.glyphicon.glyphicon-book(aria-hidden='true')
      .col-xs-1
        .btn-group(data-toggle='button')
          button.btn.btn-default(type='button', aria-label='Left Align')
            span.glyphicon.glyphicon-bell(aria-hidden='true')
    hr
